
<div class="row">
　<div class="col-lg-3"> 
　  <div class="card">
      <div class="card-header">
　      <h2 class="card-title"><%= @user.name %></h2>
          <%= link_to 'マイページ', @user %>
      </div>
      <div class="card-body">
        <% if @user.img.present? %>
          <%= image_tag @user.img.url, class: "pic", style:"width: 150px;, hight: 150px;" %>
        <% else %> 
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="">
        <% end %>
      </div>
    </div>
    <p class="mt-4 mb-1">タイトル検索</p>
    <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タイトル", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
　</div>  
    <div class="col-lg-6 ml-5">
      <h3 class="ml-5">投稿一覧</h3>
      <P><%= render 'posts/posts', posts: @posts, userp: @userp %></P>
    </div>

    <div class="col-lg-2 ml-3">
      <p class="mb-3 mt-5">👥:ユーザーを探す</p>
      <%= render 'users', users: @users %>
    </div>
</div>
  
  
