
<div class="row">
　<div class="col-lg-3 mt-5 mr-3">
　  <div class="pro-tag">
  　   <div class="top-photo">
        <% if @user.img.present? %>
          <%= image_tag @user.img.url, class: "picc", alt: "" %>
        <% else %> 
          <img class="rounded img-fluid picc" src="<%= gravatar_url(@user) %>" alt="">
        <% end %>
      </div>
      <h4 class="user-name"><%= @user.name %></h4>
　  </div>
　  <div class="select-tag mt-4">
　    <div class="ml-1">
        <p><i class="far fa-grin ibig"></i><%= link_to 'マイページ', @user, class: "mypage" %></p>
        <p><i class="fas fa-search ibig"></i><%= link_to 'ユーザーを探す', users_path ,class: "usearch" %></p>
        <p><i class="fas fa-feather-alt ibig"></i><%= link_to "記事を書く",new_post_path(@post), class: "kijisakusei" %></p>
      </div>
      <div class="kensaku">
        <p class="mb-1 mt-5">記事を検索する</p>
          <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "タイトル", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
      </div>
    </div>
　</div>  
  <div class="col-lg-5 time-line ml-2 mr-2 mt-3">
    <h2 class="text-center mb-5">投稿一覧</h2>
    <%= render 'posts/posts', posts: @posts, class: "time-line-content" %>
  </div>
  <div class="col-lg-3 ml-3 mt-4">
    <div class="card mt-5 waku">
      <div class="card-header daimei">
        <div class="card-title dai">
          <p>☆ 最新のニュース ☆</p>
        </div>
      </div>
     <div class="card-body news-contents">
      <ul>
        <li>
          <p><a href="https://techacademy.jp/?gclid=CjwKCAiA6aSABhApEiwA6Cbm_yTG5Qy7W5NBvXeduDXxFPbVhI6c3M3PrpEg4rkkWc3mnHxwoyUQJRoCE6QQAvD_BwE">私はここでプログラミングを学んだ</a></p>
        </li>
        <li>
          <p><a href="https://www3.nhk.or.jp/news/special/coronavirus/data/">今、コロナはどうなっているの？</a></p>
        </li>
        <li>
          <p><a href="https://www.jalan.net/kankou/260000/g1_20/">京都のお寺、神社 top10</a></p>
        </li>
        <li>
          <p><a href="https://tabelog.com/kyoto/A2601/A260401/26003202/">地元の味、究極のラーメン屋さんはココ！？</a></p>
        </li>
        <li>
          <p><a href="https://www.rsk.co.jp/horoscope/2021ranking/">あなたは知ってた？気になる今年の星座ランキング！</a></p>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
