
<div class="row">
ã€€<div class="col-lg-3"> 
ã€€  <div class="card">
      <div class="card-header">
ã€€      <h2 class="card-title"><%= @user.name %></h2>
          <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', @user %>
      </div>
      <div class="card-body text-center">
        <% if @user.img.present? %>
          <%= image_tag @user.img.url, class: "pic", alt: "" %>
        <% else %> 
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 150 }) %>" alt="">
        <% end %>
      </div>
    </div>
    <p class="mt-4 mb-1">ã‚¿ã‚¤ãƒˆãƒ«æ¤œç´¢</p>
    <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ã‚¿ã‚¤ãƒˆãƒ«", class: "search-input" %>
      <%= form.submit "æ¤œç´¢", class: "search-btn" %>
    <% end %>
ã€€</div>  
  <div class="col-lg-6 ml-5">
    <h3 class="ml-5">æŠ•ç¨¿ä¸€è¦§</h3>
    <P><%= render 'posts/posts', posts: @posts %></P>
  </div>

  <div class="col-lg-2 ml-3">
    <p class="mb-3 mt-5"><%= link_to 'ðŸ‘¥:ãƒ¦ãƒ¼ã‚¶ãƒ¼ã‚’æŽ¢ã™', users_path %></p>
    <%= render 'users/users', users: @users %>
  </div>
</div>
  
  

