<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
      <% if post.user.img.present? %>
        <div class="mt-2"><%= image_tag post.user.img.url, class: "pic", style: "width: 45px;, hight: 45px;" %></div>
        </%>
      <% else %>
        <img class="mt-2 rounded" src="<%= gravatar_url(post.user, { size: 40 }) %>" alt="">
      <% end %>
      <div class="media-body ml-3 mt-2">
        <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        <div class="mt-2">
          <p class="mb-0"><%= post.title %></p>
        </div>
        <div class="row ml-5 mt-2">
          <div class="col-sm-3 ml-5">
            <button type="button" class="btn btn-outline-primary"><%= link_to '詳細', post_path(post) %></button> 
          </div>
        </div>
      </div>
    </li>
  <% end %>
    <%= paginate posts %>
</ul>
