  <div class="row">
    <div class="offset-sm-2 col-sm-8 kiji-sotowaku">
        <h2 class="mb-5">ブログを書く</h2>
      <%= form_with(model: @post, local: true) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
        <ul class="mb-0">
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_area :title, class: 'form-control', rows: 2 %>
        </div>
        
        <div class="form-group">
          <%= f.label :content, '内容' %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group"> 
          <%= f.label :image, '画像添付' %>
          <%= f.file_field :image, class: 'form-control'  %>
        </div>
        <div class="mt-2">
          <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
      <div class="mt-2">
        <%= link_to '戻る', root_url %>
      </div>
    </div>
  </div>
  
  