<h1>id: <%= @post.id %> の記事詳細ページ</h1>


<p><%= @post.content %></p>

<%= link_to '一覧に戻る', posts_path %>
<%= link_to 'このタスクを編集する', edit_post_path(@post) %>
<%= link_to 'このタスクを削除する', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>