  <!--<% if current_user && @posts %>-->
    <div class="row">  
      <div class="dropdown offset-md-5 col-md-3 text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu">
            <p class="dropdown-edit text-center"><%= link_to '編集する', edit_post_path(@post) %></p>
            <div class="dropdown-divider"></div>
            <p class="dropdown-delete text-center"><%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></p>
          </div>
        </div>
      </div>
    </div>
  <!--<% end %>-->
  <div class="row">
    <div class="offset-lg-2 col-lg-6 mt-3">
      <div class="kiji-waku">
        <% if @user.img.present? %>
          <h3 class="mb-5 mt-3 text-center"><%= image_tag @user.img.url, class: "picture futi", alt: "" %> : <%= link_to @user.name, user_path(@user), class: "link" %>さんの記事</h3>
        <% else %>   
          <h3 class="mb-5 mt-3 text-center"><img class="rounded img-fluid futi" src="<%= gravatar_url(@user, { size: 30 }) %>" alt=""> : <%= link_to @user.name, user_path(@user), class: "link" %>さんの記事</h3>
        <% end %>
        <p class="titleee">タイトル:</p>
        <div class="title-layout">
          <p><%= @post.title %></p>
        </div>
        <p class="mt-2 contenttt">内容:</p>
        <div class="content-layout">
          <p><%= simple_format(@post.content) %></p>
        </div>
        <div class="thumbnail">
          <% if @post.image.present? %>
            <p class="text-center"><%= image_tag @post.image.url, class: "pict", alt: "" %></p>
          <% end %>
        </div>
      </div>
      <div class="text-center mt-5">
        <%= render 'favorites/favorite_button', post: @post %>
        <div class="mt-3">
            <%= link_to '戻る', root_url %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3 ml-5">
      <div class="mb-2">
        <%= link_to 'この記事のいいね', likers_post_path(@post), class: "btn btn-outline-dark btn-block" %>
      </div>
      <div class="comments-waku">
        <div class="nyuuryokuran">
          <p class="mb-1 hyoujiran">コメントする <i class="far fa-comment-dots"></i></p>
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
            <%= form.text_area :text, rows: "2" %>
            <%= form.submit "送信" %>
          <% end %>
        </div>
        <div class="mt-4">
          <% if @comments %>
            <% @comments.each do |comment| %>
            <p class="mb-0">
              <strong><%= link_to comment.user.name, "/users/#{comment.user_id}", class: "link"%>：</strong>
            </p>
            <p class="mt-0 ml-2">
            <%= comment.text %>
            </p>
            <p class="text-center">
              <%=link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %>
            </p>
            <% end %>
          <% end %>
        </div>
        <%= paginate @comments %>
      </div>
    </div>
  </div>
  
 